body {
  text-align: center;
}

#enterDetails {
  float: left;
  width: 50%;
  background-color: darkslategray;
  color: floralwhite;
}

#findDetails {
  width: 50%;
  background-color: rgb(255, 255, 255);
  color: darkslategray;
  margin: 0 auto; /* center the div horizontally */
  text-align: center; /* center the contents of the div */
}

input {
  width: 120px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #185788;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1e00ff;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}
