<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database</title>
</head>
<body>
  <!--Category Selection-->
  <div>
      <form>
        <h1 for="category">VIEW INVETORY</h1>
        <select id="category" name="category">
          <option value="">--Select a Category--</option>
          <option value="furniture">Furniture</option>
          <option value="hygiene">Hygiene</option>
          <option value="food">Food</option>
          <option value="home-goods">Home Goods</option>
        </select>
        <button id="submit">SEARCH</button>
      </form>

      <script>
        const categorySelect = document.getElementById('category');

        categorySelect.addEventListener('change', (event) => {
          const selectedCategory = event.target.value;
          const options = itemOptions[selectedCategory];

          // Clear existing options
          itemSelect.innerHTML = '';

          // Add new options
          options.forEach((option) => {
            const optionElement = document.createElement('option');
            optionElement.value = option;
            optionElement.text = option;
            itemSelect.add(optionElement);
          });
        });
      </script>
  </div>


  <!--Youtube example for using a DB-->
  <div id="enterDetains">
    <h1>UPDATING INVENTORY</h1>
    <h4>Item ID</h4>
    <input id="enterItemID" type="text">

    <h4>Item Name</h4>
    <input id="enterItemName" type="text">

    <h4>Quantity</h4>
    <input id="enterItemQuantity" type="number"> <br><br>

    <button id="insert">INSERT</button>
    <button id="insert">UPDATE</button>
    <button id="insert">REMOVE</button>


  </div>

  <script type="module">

        var enterItemID = document.querySelector("#enterItemID");
        var enterItemName = document.querySelector("#enterItemName");
        var enterItemQuantity = document.querySelector("#enterItemQuantity");
        var findID = document.querySelector("#findID");
        var findName = document.querySelector("#findName");
        var findAge = document.querySelector("#findAge");


        var insertBtn = document.querySelector("#insert");
        var updateBtn = document.querySelector("#update");
        var removeBtn = document.querySelector("#remove");
        var findBtn = document.querySelector("#find");

        function InsertData() {
            set(ref(db, "People/"+ enterItemID.value),{
                Name: enterItemName.value,
                ID: enterItemID.value,
                Age: enterItemQuantity.value
            })
            .then(()=>{
                alert("Data added successfully");
            })
            .catch((error)=>{
                alert(error);
            });
        }

        function FindData() {
            const dbref = ref(db);

            get(child(dbref, "People/" + findID.value))
            .then((snapshot)=>{
                if(snapshot.exists()){
                    findName.innerHTML = "Name: " + snapshot.val().Name;
                    findAge.innerHTML = "Age: " + snapshot.val().Age;
                } else {
                    alert("No data found");
                }
            })
            .catch((error)=>{
                alert(error)
            })

        }

        function UpdateData(){
            update(ref(db, "People/"+ enterItemID.value),{
                Name: enterItemName.value,
                Age: enterItemQuantity.value
            })
            .then(()=>{
                alert("Data updated successfully");
            })
            .catch((error)=>{
                alert(error);
            });
        }

        function RemoveData(){
            remove(ref(db, "People/"+ enterItemID.value))
            .then(()=>{
                alert("Data deleted successfully");
            })
            .catch((error)=>{
                alert(error);
            });
        }

        insertBtn.addEventListener('click', InsertData);
        updateBtn.addEventListener('click', UpdateData);
        removeBtn.addEventListener('click', RemoveData);
        findBtn.addEventListener('click', FindData);

      </script>
</body>
</html>
