<mat-toolbar color = "">
    <ng-container *ngIf="AuthenticationService.currentUser$ | async as user; else loginButton">
      <button mat-button
      (click)="logout()">
      <mat-icon></mat-icon>
      Logout
    </button>
    </ng-container>

  <ng-template #loginButton>
    <button mat-button
      (click)="onLoginClick($event)">
        <mat-icon></mat-icon>
        Login
    </button>
  </ng-template>
</mat-toolbar>
<div class="">
    <router-outlet></router-outlet>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>

<div class="hamburger-menu">
<input id="menu__toggle" type="checkbox" />
<label class="menu__btn" for="menu__toggle">
  <span></span>
</label>

<ul class="menu__box">
  <li><a class="menu__item" href="/">Home</a></li>
  <li><a class="menu__item" href="/admin">Admin</a></li>
  <li><a class="menu__item" href="/login">Login</a></li>
  <li><a class="menu__item" href="/sign-up">Sign-up/Sign-out</a></li>
</ul>
</div>
